@import "./reset.scss";
* {
  margin: 0;
  font-family: "Microsoft YaHei", sans-serif;
}

html, body {
  height: 100%;
}

.drag {
  -webkit-app-region: drag;
  //user-select: none;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.clearFix:after{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

//$font-color: #333;
//$main-blue: #409EFF;

// 名字颜色
$main-blue: var(--mainBlue, #0087ff);
// 主要的文字颜色
$font-color: var(--fontColor, #ddd);

#app {
  --mainBlue: #3bd8e8;
  //--fontColor: #fff;
}

@mixin no-drag{
  -webkit-app-region: no-drag;
}
